[submodule "memory-pack/lib/forge-std"]
	path = memory-pack/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "memory-pack/lib/openzeppelin-contracts"]
	path = memory-pack/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
